---
import SectionContainer from "../containers/SectionContainer.astro";
import SectionTitle from "../containers/SectionTitle.astro";
import ProjectContainer from "./ProjectContainer.astro";
import ProjectDescription from "./ProjectDescription.astro";
import ProjectDescriptionContainer from "./ProjectDescriptionContainer.astro";
import ProjectExternalSources from "./ProjectExternalSources.astro";
import ProjectImage from "./ProjectImage.astro";
import ProjectTechnologiesContainer from "./ProjectTechnologiesContainer.astro";
import ProjectTitle from "./ProjectTitle.astro";
import reactLogo from "/react.svg";
import githubLogo from "/github.svg";
import tailwindLogo from "/tailwind.svg";
import mysqlLogo from "/mysql.svg";
---

<SectionContainer dark>
  <SectionTitle dark>Projects</SectionTitle>
  <ProjectContainer firstProject>
    <ProjectImage image={githubLogo} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Fireno App</ProjectTitle>
      <span class="text-primary">2022</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
  <ProjectContainer>
    <ProjectImage image={githubLogo} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Fireno App</ProjectTitle>
      <span class="text-primary">2022</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
  <ProjectContainer>
    <ProjectImage image={githubLogo} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Fireno App</ProjectTitle>
      <span class="text-primary">2022</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
</SectionContainer>
