---
import SectionContainer from "../containers/SectionContainer.astro";
import SectionTitle from "../containers/SectionTitle.astro";
import ProjectContainer from "./ProjectContainer.astro";
import ProjectDescription from "./ProjectDescription.astro";
import ProjectDescriptionContainer from "./ProjectDescriptionContainer.astro";
import ProjectExternalSources from "./ProjectExternalSources.astro";
import ProjectImage from "./ProjectImage.astro";
import ProjectTechnologiesContainer from "./ProjectTechnologiesContainer.astro";
import ProjectTitle from "./ProjectTitle.astro";
import reactLogo from "/react.svg";
import projectImage from "/computerProjects.png";
import tailwindLogo from "/tailwind.svg";
import mysqlLogo from "/mysql.svg";
import firenoTrackingImage from "/fireno-tracking-project.png"
import merchAppImage from "/merch-app-project.png"
---

<SectionContainer sectionId="projects" dark>
  <SectionTitle dark>Projects</SectionTitle>
  <ProjectContainer firstProject>
    <ProjectImage image={firenoTrackingImage} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Fireno Tracking</ProjectTitle>
      <span class="text-primary">2022</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
  <ProjectContainer>
    <ProjectImage image={merchAppImage} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Merch App</ProjectTitle>
      <span class="text-primary">2023</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
  <ProjectContainer>
    <ProjectImage image={projectImage} description="Logo de github" />
    <ProjectDescriptionContainer>
      <ProjectTechnologiesContainer>
        <img class="w-6 h-6 grayscale" src={reactLogo} title="React" />
        <img class="w-6 h-6 grayscale" src={tailwindLogo} title="Tailwind" />
        <img class="w-6 h-6 grayscale" src={mysqlLogo} title="Mysql" />
      </ProjectTechnologiesContainer>
      <ProjectTitle>Fireno App</ProjectTitle>
      <span class="text-primary">2022</span>
      <ProjectDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis
        lacus at neque ornare maximus. Duis consequat nibh vel aliquam auctor.
        Praesent diam elit, viverra at nisl a, suscipit pellentesque mi. In dui
        velit, fringilla a massa ac, feugiat ultrices.
      </ProjectDescription>
      <ProjectExternalSources githubUrl="#" demoUrl="#" />
    </ProjectDescriptionContainer>
  </ProjectContainer>
</SectionContainer>
