---
import githubLogo from "/github.svg";
import liveDemoLogo from "/external-link.svg";

const { githubUrl, demoUrl, projectName } = Astro.props;
---

<div class="mt-3 flex gap-3">
  {
    githubUrl && (
      <a href={githubUrl} target="_blank">
        <img class="w-7 h-7 projectSource" src={githubLogo} alt="Github icon" aria-label={`Go to github repository of ${projectName} project`} />
      </a>
    )
  }
  {
    demoUrl && (
      <a href={demoUrl} target="_blank">
        <img class="w-8 h-8 projectSource" src={liveDemoLogo} alt="External source icon" aria-label={`Go to live demo of ${projectName} project`} />
      </a>
    )
  }
</div>

<style>
  .projectSource {
    filter: invert(99%) sepia(3%) saturate(3913%) hue-rotate(288deg)
      brightness(118%) contrast(100%);
  }
  .projectSource:hover {
    filter: invert(37%) sepia(90%) saturate(1580%) hue-rotate(334deg)
      brightness(117%) contrast(102%);
  }
</style>
